<div class="contenedorP">
    <div class="sideBar">
      <ul>Tipos de Emergencias:
        <li><a routerLink="/prevencion">Diagnóstico Médico</a></li>
        <li><a routerLink="/prevencion">Chequeo Regular</a></li>
        <li>Estilo de Vida:
          <ul>
            <li><a routerLink="/prevencion">Dieta</a></li>
            <li><a routerLink="/prevencion">Ejercicio</a></li>
            <li><a routerLink="/prevencion">Hábitos Alimenticios</a></li>
          </ul>
        </li>
      </ul>
    </div>
  
    <div class="contenido">
      <h1>Emergencias</h1>
      <div class="caja">
        <div class="texto">
          <h2>Titulo</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati optio aspernatur magni, perferendis quis quidem at dolore
            veritatis itaque cupiditate voluptatem reprehenderit incidunt? Ipsam, minus ex cupiditate rem eaque voluptatum!
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- <p>
  emergencias works!
</p> -->

<!-- ** Ante cualquier emergencia médica puedes ingresar al paciente al hospital o clinica mas cercano por ley, sin costo alguno, una vez estable es trasladado al hosital que le corresponde
** telefono quejas derechos humanos



Tipos de emergencias:
* asintencia (donde me encuentro) 
* tipo de padecimiento del enfermo
* toma de signos vitales: (presión y pulso:-19 palpitaciones por minuto-)
* saber inyectar
* si toma medicamentos
  * que medicamentos puede o no tomar
  * 
* Acompañar al enfermo
* Medio de comunicación del enfermo con un familiar
* Documentos médicos a la mano, recetas

* placa, pulsera o medalla de identificación
* si el paciente tiene marcapasos: tener el módelo y los datos del técnico de marcapasos
* siempre indicar a los paramédicos si el enfermo tiene marcapasos, alergias, 

* decaimiento, desvanecimiento, pérdida del conocimiento (a pesar de estar tomando el tratamiento) = urgencias
* comunicación y coordinación con terceros de la asistencia médica (rutas, horarios, días, distancia al hospital)
*  -->