<!-- <div>
  <h1>
    Principal
  </h1>
  <p class="imagen_principal">
    <img src="assets/CORA.png">
  </p>
</div>
<h2>Mortalidad en México</h2>
<p>
  Las malformaciones congénitas del sistema circulatorio junto con las enfermedades del corazón se ubican entre las principales causas de muerte en México en todos los grupos de edad (desde el nacimiento hasta mas de 65 años).
</p>
<blockquote cite="http://cuentame.inegi.org.mx/poblacion/defunciones.aspx?tema=P"><p><small>FUENTE: INEGI. Principales causas de mortalidad por residencia habitual, grupos de edad y sexo del fallecido.</small></p></blockquote> -->

<div class="contenedor">
  <div class="caja">
    <div class="texto">
      <h2>Mortalidad en México</h2>
      <p>
        Las malformaciones congénitas del sistema circulatorio junto con las enfermedades del corazón se ubican entre las principales
        causas de muerte en México en todos los grupos de edad (desde el nacimiento hasta mas de 65 años).
      </p>
      <blockquote cite="http://cuentame.inegi.org.mx/poblacion/defunciones.aspx?tema=P">
        <p>
          <small>FUENTE: INEGI. Principales causas de mortalidad por residencia habitual, grupos de edad y sexo del fallecido.</small>
        </p>
      </blockquote>
    </div>
  </div>

  <div class="caja">
    <div class="texto">
      <h2>Noticia 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias, dignissimos numquam adipisci ab dolores minima possimus
        laboriosam rerum laborum laudantium neque nulla aperiam hic eum nemo distinctio. Dicta obcaecati necessitatibus pariatur
        saepe autem quasi laudantium temporibus fugiat officia aut!
      </p>
      <blockquote cite="http://cuentame.inegi.org.mx/poblacion/defunciones.aspx?tema=P">
        <p>
          <small>FUENTE: INEGI. Principales causas de mortalidad por residencia habitual, grupos de edad y sexo del fallecido.</small>
        </p>
      </blockquote>
    </div>
  </div>

  <div class="caja">
    <div class="texto">
      <h2>Noticia 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat alias, dignissimos numquam adipisci ab dolores minima possimus
        laboriosam rerum laborum laudantium neque nulla aperiam hic eum nemo distinctio. Dicta obcaecati necessitatibus pariatur
        saepe autem quasi laudantium temporibus fugiat officia aut!
      </p>
      <blockquote cite="http://cuentame.inegi.org.mx/poblacion/defunciones.aspx?tema=P">
        <p>
          <small>FUENTE: INEGI. Principales causas de mortalidad por residencia habitual, grupos de edad y sexo del fallecido.</small>
        </p>
      </blockquote>
    </div>
  </div>
</div>
