<div>
  <h1>
    Principal
  </h1>
  <p class="imagen_principal">
    <img src="assets/CORA.png">
  </p>
</div>
<h2>Mortalidad en México</h2>
<p>
  Las malformaciones congénitas del sistema circulatorio junto con las enfermedades del corazón se ubican entre las principales causas de muerte en México en todos los grupos de edad (desde el nacimiento hasta mas de 65 años).
</p>
<blockquote cite="http://cuentame.inegi.org.mx/poblacion/defunciones.aspx?tema=P"><p><small>FUENTE: INEGI. Principales causas de mortalidad por residencia habitual, grupos de edad y sexo del fallecido.</small></p></blockquote>
