<div class="contenedorP">
  <div class="sideBar">
    <ul>Tipos de Prevención:
      <li><a routerLink="/prevencion">Diagnóstico Médico</a></li>
      <li><a routerLink="/prevencion">Chequeo Regular</a></li>
      <li>Estilo de Vida:
        <ul>
          <li><a routerLink="/prevencion">Dieta</a></li>
          <li><a routerLink="/prevencion">Ejercicio</a></li>
          <li><a routerLink="/prevencion">Hábitos Alimenticios</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="contenido">
    <h1>Prevención</h1>
    <div class="caja">
      <div class="texto">
        <h2>Titulo</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati optio aspernatur magni, perferendis quis quidem at dolore
          veritatis itaque cupiditate voluptatem reprehenderit incidunt? Ipsam, minus ex cupiditate rem eaque voluptatum!
        </p>
      </div>
    </div>
  </div>
</div>

