footer {
    /* background-color: #ed5f5f; */
    /* background-color: #F61627; */
    background-color: #fff;
    width: 100%;
    height: 100px;
    align-self: flex-end;
  }
/* 
  li {
    color:white;
  } */

  footer {
    display: flex;
    justify-content: center; /* justifica en horizontal */
    align-items: center; /* justifica en vertical */
    width: 100%;
    height: 100px;
    align-self: flex-end;
  }
  
  ul li {
    padding-right: 50px;
    display: inline-block;
  }
  
  a {
    font-family: 'Quicksand', sans-serif;
    color: #FFF5F1;
    font-weight: bold;
    text-decoration: none;
  }
  
  li a:hover {
    /* background: #FF4A43; */
    /* background: #CF0918; */
    /* background: #DB0A1A; */
    /* background: #E10717; */
    /* background: #F40618; */
    /* background: #F10214; */ /* El mas similar al navbar */
    background:#EB0214;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 7px #FFF5F2;
  }